<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{%block title%}{%endblock%}</title>
    <link href="/static/ctf/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ctf/font-awesome/css/font-awesome.css" rel="stylesheet">
     <!-- Toastr style -->
    <link href="/static/ctf/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    {%block css%}{%endblock%}
    <link href="/static/ctf/css/animate.css" rel="stylesheet">
    <link href="/static/ctf/css/style.css" rel="stylesheet">
    <!-- awesome bootstrap checkbox -->
    <link href="/static/ctf/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">

</head>

<body class="pace-running">
  <audio id="music" preload="auto" {%if music%}{%else%}loop='true'{%endif%} hidden="ture">
    <source src={%if music%}'/static/music/{{music}}.wav'{%else%}'/static/music/bg.wav'{%endif%}></source>
  </audio>
    <div id="wrapper">

        <!-- Sidebar start here -->
        <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <!-- Main Menu  -->
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="logo-element">
                        C2I
                    </div>
                </li>
                <li>
                    <a href="/ctf/profile/"><i class="fa fa-th-large"></i> <span class="nav-label">Team Profile</span> </a>
                </li>
                <li>
                    <a href="/ctf/teams/"><i class="fa fa-users"></i><span class="nav-label">Teams</span></a>
                </li>
                <li>
                    <a href="/ctf/scoreboard/"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Score Board</span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-book"></i> <span class="nav-label">Graphs</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/ctf/qcm/">Question & Answer</a></li>
                        <li><a href="/ctf/problem/">Practical exercise</a></li>
                    </ul>
                </li>

                <li>
                    <a href="/logout/"><i class="fa fa-sign-out"></i><span class="nav-label">Logout</span></a>
                </li>
            </ul>
            <!-- // Main Menu end here // -->
        </div>
        </nav>
        <!-- Sidebar end here -->
        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <!-- top menu -->
        <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        </nav>
        <!-- end top menu -->
        </div>
            <!-- Dynamic content here -->
            {%block dynamic%}{%endblock%}
            <!-- //Dynamic content end here // -->
            <div class="footer">
                <div class="pull-right">
                    <strong>with the best of the best you become the Best</strong>.
                </div>
                <div>
                    <strong>Copyright</strong> FPT Club , FSB Tunisia &copy; 2015-2016
                </div>
            </div>

        </div>
        </div>

    <!-- Mainly scripts -->
    <script src="/static/ctf/js/jquery-2.1.1.js"></script>
    <script src="/static/ctf/js/bootstrap.min.js"></script>
    <script src="/static/ctf/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/ctf/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/static/ctf/js/inspinia.js"></script>
    <script src="/static/ctf/js/plugins/pace/pace.min.js"></script>
    <!-- icheck plugin -->
    <script src="/static/ctf/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Toastr script -->
    <script src="/static/ctf/js/plugins/toastr/toastr.min.js"></script>

    {%block javascriptLib%}{%endblock%}
    <script>
            $(document).ready(function () {
              $('#music')[0].play()
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
                toastr.options = {
                    "closeButton": true,
                    "debug": true,
                    "progressBar": true,
                    "preventDuplicates": true,
                    "positionClass": "toast-top-right",
                    "showDuration": "400",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                {%if error%}
                toastr.error("{{error}}","Unexpected error");
                {%endif%}

                {%if success%}
                toastr.success("{{success}}","Congratiluation");
                {%endif%}

                {%if warning%}
                toastr.warning("{{warning}}","Warning!");
                {%endif%}
            });
            {%block javascriptCode%}{%endblock%}

    </script>
</body>


</html>
