{%extends "base.html"%}
{%load special_tag%}
{%block dynamic%}
<div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            {%for team in teams%}
            <div class="col-lg-4">
                <div class="contact-box">
                    <div class="col-sm-4">
                        <div class="text-center">
                            <img alt="image" class="img-circle m-t-xs img-responsive" src="/media/{{team.pic}}">
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <h3><strong>{{team.team_name}}</strong></h3>
                        <p><i class="fa fa-book"></i>Niveau : {{team.niveau}}</p>
                        <address>
                            <strong>Description</strong><br>
                            {{team.team_biographie|cut_bio}}
                        </address>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            {%endfor%}
          </div>
</div>
{%endblock%}
