{%extends "base.html"%}
{%load special_tag%}
{%block dynamic%}

<div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Question #{{qcm.id}} <small>Note that : any wrong answer will cause 0 pts and that you can check from 0 to 3 answer</small></h5>
                              <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                  <h5>Chose the right Answer <small>Think Well</small></h5>
                                  <div class="ibox-tools">
                                    <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                    </a>
                                  </div>
                                </div>
                                <div class="ibox-content">
                                  <div class="text-center">
                                    <h3>{{qcm.question}} ?</h3>
                                    <hr/>
                                    <p>{%if qcm.description%}Hint : {{qcm.description}}{%else%}Sorry there is no hint for this Task{%endif%}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            {%if answered_before%}
                            <div class="col-lg-4">
                              <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                  <h5>Your Answer Was</h5>
                                  <div class="ibox-tools">
                                    <a class="collapse-link">
                                      <i class="fa fa-chevron-up"></i>
                                    </a>

                                  </div>
                                </div>
                                <div class="ibox-content">
                                  <div class="text-center">
                                    <div class="checkbox checkbox-success">
                                      <input id="answer_a" type="checkbox" name="answer_a" {%if answered_before.answer_a_is_valid%} checked="true"{%endif%}>
                                      <label for="answer_a">
                                        {{qcm.answer_a}}
                                      </label>
                                    </div>
                                    <div class="checkbox checkbox-success">
                                      <input id="answer_b" type="checkbox" name="answer_b" {%if answered_before.answer_b_is_valid%} checked="true"{%endif%}>
                                      <label for="answer_b">
                                        {{qcm.answer_b}}
                                      </label>
                                    </div>
                                    <div class="checkbox checkbox-success">
                                      <input id="answer_c" type="checkbox" name="answer_c" {%if answered_before.answer_c_is_valid%} checked="true"{%endif%}>
                                      <label for="answer_c">
                                        {{qcm.answer_c}}
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                            {%else%}
                            <form action="/ctf/open/qcm/{{qcm.id}}/" method="post">
                              {%csrf_token%}
                              <div class="col-lg-4">
                                <div class="ibox float-e-margins">
                                  <div class="ibox-title">
                                    <h5>Chose the right Answer <small>Take your time</small></h5>
                                    <div class="ibox-tools">
                                      <a class="collapse-link">
                                        <i class="fa fa-chevron-up"></i>
                                      </a>

                                    </div>
                                  </div>
                                  <div class="ibox-content">
                                    <div class="text-center">
                                      <div class="checkbox checkbox-success">
                                        <input id="answer_a" type="checkbox" name="answer_a">
                                        <label for="answer_a">
                                          {{qcm.answer_a}}
                                        </label>
                                      </div>
                                      <div class="checkbox checkbox-success">
                                        <input id="answer_b" type="checkbox" name="answer_b">
                                        <label for="answer_b">
                                          {{qcm.answer_b}}
                                        </label>
                                      </div>
                                      <div class="checkbox checkbox-success">
                                        <input id="answer_c" type="checkbox" name="answer_c">
                                        <label for="answer_c">
                                          {{qcm.answer_c}}
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                </div>
                                {%endif%}

                                {%if answered_before%}
                                <div class="col-lg-4">
                                  <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                      <h5>Correct Answer</h5>
                                      <div class="ibox-tools">
                                        <a class="collapse-link">
                                          <i class="fa fa-chevron-up"></i>
                                        </a>

                                      </div>
                                    </div>
                                    <div class="ibox-content">
                                      <div class="text-center">
                                        <div class="checkbox checkbox-success">
                                          <input id="answer_a" type="checkbox" name="answer_a" {%if qcm.answer_a_is_valid%}checked="true"{%endif%}>
                                          <label for="answer_a">
                                            {{qcm.answer_a}}
                                          </label>
                                        </div>
                                        <div class="checkbox checkbox-success">
                                          <input id="answer_b" type="checkbox" name="answer_b"  {%if qcm.answer_b_is_valid%}checked="true"{%endif%}>
                                          <label for="answer_b">
                                            {{qcm.answer_b}}
                                          </label>
                                        </div>
                                        <div class="checkbox checkbox-success">
                                          <input id="answer_c" type="checkbox" name="answer_c"  {%if qcm.answer_c_is_valid%}checked="true"{%endif%}>
                                          <label for="answer_c">
                                            {{qcm.answer_c}}
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                {%else%}
                                <div class="col-lg-4">
                                  <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                      <h5>Submit your answer <small> there will be no further change</small></h5>
                                      <div class="ibox-tools">
                                        <a class="collapse-link">
                                          <i class="fa fa-chevron-up"></i>
                                        </a>

                                      </div>
                                    </div>
                                    <div class="ibox-content">
                                      <div class="text-center">
                                        <h4>Verify My Answers</h4>
                                        <button class="btn btn-info btn-circle btn-lg" type="submit"><i class="fa fa-check"></i></button>
                                      </div>
                                    </div>
                                  </div>
                                  </div>
                                  {%endif%}
                              {%if answered_before%}
                              {%else%}
                              </form>
                              {%endif%}

                        </div>
                    </div>
                </div>
              </div>
{%endblock%}
