{%extends "base.html"%}
{%load special_tag%}
{%block dynamic%}
              <div class="row">
              {%for problem in problems%}
              <div class="col-md-3">
                    <div class="ibox">
                        <div class="ibox-content product-box">
                            <div class="product-imitation">
                                <h1>{{problem.level}}</h1>
                            </div>
                            <div class="product-desc">
                                <span class="product-price">
                                    {{problem.score}} pts
                                </span>
                                <small class="text-muted">{{problem.category}}</small>
                                <a href="/ctf/open/problem/{{problem.id}}/" class="product-name">{{problem.title}}</a>
                                <div class="small m-t-xs">
                                    {{problem.description|cut_bio}}
                                </div>
                                <div class="m-t text-righ">
                                    <a href="/ctf/open/problem/{{problem.id}}/" class="btn btn-xs btn-outline btn-primary">Join this Task <i class="fa fa-long-arrow-right"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {%empty%}
                <h1>There is no Task for the Moment</h1>
                {%endfor%}
              </div>
{%endblock%}
