{%extends "base.html"%}
{%load special_tag%}
{%if submited_before%}
{%else%}
{% block css%}
<link href="/static/ctf/css/plugins/dropzone/basic.css" rel="stylesheet">
<link href="/static/ctf/css/plugins/dropzone/dropzone.css" rel="stylesheet">
{%endblock%}
{%endif%}
{%block dynamic%}
                  <div class="wrapper wrapper-content  animated fadeInRight article">
                    <div class="row">
                      <div class="col-lg-10 col-lg-offset-1">
                        <div class="ibox">
                          <div class="ibox-content">
                            <div class="pull-right">
                                <button class="btn btn-white btn-xs" type="button">{{problem.level}}</button>
                                <button class="btn btn-white btn-xs" type="button">{{problem.score}} pts</button>
                                <button class="btn btn-white btn-xs" type="button">{{problem.category}}</button>
                            </div>
                            <div class="text-center article-title">
                            <span class="text-muted"><i class="fa fa-clock-o"></i> {{problem.time_post}}</span>
                                <h1>
                                    {{problem.title}}
                                </h1>
                            </div>
                            <p>                              {{problem.description}}                            </p>                            <hr>                           <div class="row">                               <div class="col-md-6">                                       <div class="file-box">                                                <div class="file">                                                    <a href="/media/{{problem.attachment}}">                                                        <span class="corner"></span>                                                        <div class="icon">                                                            <i class="fa fa-file"></i>                                                        </div>                                                        <div class="file-name">                                                            {{problem.attachment|filename}}                                                            <br>                                                            <small>Added: {{problem.time_post}}</small>                                                        </div>                                                    </a>                                                </div>                                        </div>                              </div>                               <div class="col-md-6">                                   <div class="small text-right">                                       <h5>Stats:</h5>                                       <div> <i class="fa fa-comments-o"> </i> {{count}} Submit </div>                                   </div>                               </div>                               <hr>{%if submited_before%}                      <div class="col-lg-12">                                               <div class="ibox float-e-margins">                                                   <div class="ibox-title">                                                       <h5>Your Answer Was</h5>                                                       <div class="ibox-tools">                                                           <a class="collapse-link">                                                               <i class="fa fa-chevron-up"></i>                                                           </a>                                                           <a class="dropdown-toggle" data-toggle="dropdown" href="#">                                                               <i class="fa fa-wrench"></i>                                                           </a>                                                           <a class="close-link">                                                               <i class="fa fa-times"></i>                                                           </a>                                                       </div>                                                   </div>                                                   <div class="ibox-content">                                                    <div class="col-md-2 col-md-offset-4">                                                      <div class="file-box">                                                        <div class="file">                                                          <a href="/media/{{submited_before.submited_file}}">                                                            <span class="corner"></span>                                                            <div class="icon">                                                              <i class="fa fa-file"></i>                                                            </div>                                                            <div class="file-name">                                                              {{submited_before.submited_file|filename}}                                                              <br>                                                              <small>Added: {{submited_before.answer_time}}</small>                                                              <br/>                                                              <small>Score : {{submited_before.score}}                                                            </div>                                                            </a>                                                        </div>                                                      </div>                                                    </div>                                                   </div>                                               </div>                           </div>{%else%}                               <div class="col-lg-12">                                               <div class="ibox float-e-margins">                                                   <div class="ibox-title">                                                       <h5>Send your answer</h5>                                                       <div class="ibox-tools">                                                           <a class="collapse-link">                                                               <i class="fa fa-chevron-up"></i>                                                           </a>                                                           <a class="dropdown-toggle" data-toggle="dropdown" href="#">                                                               <i class="fa fa-wrench"></i>                                                           </a>                                                           <a class="close-link">                                                               <i class="fa fa-times"></i>                                                           </a>                                                       </div>                                                   </div>                                                   <div class="ibox-content">                                                       <form id="my-awesome-dropzone" class="dropzone" action="/ctf/open/problem/{{problem.id}}/" method="post">                                                           <div class="dropzone-previews"></div>                                                           {%csrf_token%}                                                           <button type="submit" class="btn btn-primary pull-right">Submit this form!</button>                                                       </form>                                                   </div>                                               </div>                           </div>                           {%endif%}                          </div>                        </div>                      </div>                    </div>                  </div>{%endblock%}{%if submited_before%}{%else%}    {%block javascriptLib%}      <!-- DROPZONE -->      <script src="/static/ctf/js/plugins/dropzone/dropzone.js"></script>    {%endblock%}    {%block javascriptCode%}      $(document).ready(function(){           Dropzone.options.myAwesomeDropzone = {               autoProcessQueue: false,               uploadMultiple: false,               parallelUploads: 1,               maxFiles: 1,               // Dropzone settings               init: function() {                   var myDropzone = this;                   this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {                       e.preventDefault();                       e.stopPropagation();                       myDropzone.processQueue();                   });                   this.on("sendingmultiple", function() {                     alert('sending');                   });                   this.on("successmultiple", function(files, response) {                     alert(response);                   });                   this.on("errormultiple", function(files, response) {                     alert(response);                   });               }           }         });      {%endblock%}{%endif%}