{%extends "base.html"%}
{%block dynamic%}
            <div class="row">
              <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInUp">
                   <ul class="notes">
                     {%for qcm in tasks%}
                        <li>
                            <div>
                                <small> {{qcm.time_post}}</small>
                                <h4>{{qcm.score}} Points</h4>
                                <p>{{qcm.question}}<br/><a class="btn btn-primary bt-circle" href="/ctf/open/qcm/{{qcm.id}}">Answer Question</a></p>

                            </div>
                        </li>

                     {%empty%}
                     <h1> There is no Q.A Task for the Moment</h1>
                     {%endfor%}
                     {%for qcm in ex_tasks%}
                        <li>
                            <div>
                                <small> {{qcm.time_post}}</small>
                                <h4>{{qcm.score}} Points</h4>
                                <p>{{qcm.question}}</p>
                                <a href="#">You have passed this Task</a>
                            </div>
                        </li>
                     {%endfor%}
                   </ul>
                 </div>
               </div>
             </div>
{%endblock%}
