{%extends "base.html"%}
{%block title%}title{%endblock%}
{%block dynamic%}
<div class="wrapper wrapper-content">
            <div class="row animated fadeInRight">
                <div class="col-md-4">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Team Detail</h5>
                        </div>
                        <div>
                            <div class="ibox-content no-padding border-left-right">
                                <img alt="image" class="img-responsive" src="/media/{{team.pic}}">
                            </div>
                            <div class="ibox-content profile-content">
                                <h4><strong>{{team.team_name}}</strong></h4>
                                <p><i class="fa fa-map-marker"></i> Niveau : {{team.niveau}}</p>
                                <h5>
                                    About Team
                                </h5>
                                <p>
                                    {{team.team_biographie}}
                                </p>

                                <div class="user-button">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-pencil"></i> Edit Team Data</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                    </div>
                <div class="col-md-8">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Team Members</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Edit</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <div>
                                <div class="feed-activity-list">
                                  {%for member in members%}

                                      <div class="feed-element">
                                        <div class="col-md-6">
                                        <div class="media-body ">
                                            <img alt="image" class="img-circle" width="30" height="30" src="/media/{{member.pic}}">
                                            <strong>{{member.nom}} {{member.prenom}}</strong> from <strong>{{member.classe}}</strong>. <br>
                                            <small class="text-muted">{{member.birthdate}}</small>
                                            <div class="actions">
                                                <a href="/ctf/edit/member/{{member.id}}" class="btn btn-xs btn-white"><i class="fa fa-pencil"></i>Edit</a>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                  {%empty%}
                                    <div class="feed-element">
                                      <h1>There is no current Member <a href="/ctf/add/members/team/{{team.id}}" class="btn btn-lg btn-primary">Add new Member</a></h1>
                                    </div>
                                  {%endfor%}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
 {%endblock%}
