
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExploitShield Login Page</title>
    <!-- Toastr style -->
   <link href="/static/ctf/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/ctf/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/ctf/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="/static/ctf/css/animate.css" rel="stylesheet">
    <link href="/static/ctf/css/style.css" rel="stylesheet">

  </head>
  <body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">C2I</h1>

            </div>
            <h3>Welcome to C2IFication Platform</h3>
            <p>Please use the Login provided to you by the Administrator
            </p>
            <p>Login in. To see the magic</p>
            <form class="m-t" role="form" action="/ctf/login/" method="post">
                {%csrf_token%}
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            </form>
            <p class="m-t"> <small>Club FPT , FSB university &copy; 2016</small> </p>
        </div>
    </div>

    <script src="/static/ctf/js/jquery-2.1.1.js"></script>
    <script src="/static/ctf/js/bootstrap.min.js"></script>
    <!-- Toastr script -->
    <script src="/static/ctf/js/plugins/toastr/toastr.min.js"></script>
    <script>
            $(document).ready(function () {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
                toastr.options = {
                    "closeButton": true,
                    "debug": true,
                    "progressBar": true,
                    "preventDuplicates": true,
                    "positionClass": "toast-top-right",
                    "showDuration": "400",
                    "hideDuration": "1000",
                    "timeOut": "7000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                {%if error%}
                toastr.error("{{error}}","Unexpected error");
                {%endif%}

                {%if success%}
                toastr.success("{{success}}","Congratiluation");
                {%endif%}

                {%if warning%}
                toastr.warning("{{warning}}","Warning!");
                {%endif%}
            });
            {%block javascriptCode%}{%endblock%}

    </script>
  </body>
</html>
